# Build and Release Folders
build/
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# folders
.settings/

# files
*.swf
*.air
*.ipa
*.apk
*.avi
*.jpg
*.tif
*.mat
*.mp4

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
